.tooTip{
    background: #ffffcc;
    border: solid 1px #ddcc77;
    width: 250px;
    position: absolute;
    height: 100px;
    padding:10px;
    margin-top:10px;
    overflow: auto;
    z-index: 0;
}
.tooTip ul{
    margin-left: 15px;
}
.tooTip li{
    list-style: disc;
    font-weight: normal;
}
.tooTip {
    font-weight: bold;
}
